@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root{
    /*css custom properties: variables*/
    --base-clr: rgb(22, 36, 61);
    --line-clr: rgb(46, 63, 93);
    --hover-clr: rgb(40, 49, 66);
    --text-clr: rgb(255, 255, 255);
    --accent-clr: rgb(87, 130, 212);
    --secondary-text-clr: rgb(111, 194, 147);
}
*{
    /*clean starting point*/
    margin: 0;
    padding: 0;
}

html{
    font-family: Newsreader;
    line-height: 1.5rem;
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr; /*first column has automatic size, the next will have the rest of the space*/
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 300px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);

    position: sticky; /*we didnt choose fixed cause it overlaps and forms a section by itself*/
    top: 0;
    align-self: start;

    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: none;
}

#sidebar.close{
    padding: 5px;
    width: 55px;
}

#sidebar ul{
    list-style: none;
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;
    }
}

#sidebar ul li.active a{
    color: var(--accent-clr);
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

main{
    padding: min(30px, 7%);
}

main p{
    color: var(--secondary-text-clr);
    margin-top: 5px;
    margin-bottom: 15px;
}

.container {
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);

    h2, p{
        margin-top: 1em;
    }
}

#sidebar i {
    flex-shrink: 0;
    color: var(--text-clr);
}

#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: var(--hover-clr) ;
}

#sidebar .sub-menu{
    /*overflow: hidden;
    height: 0px;*/
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    >div{
        overflow: hidden;
    }
}

#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}

/*transition helps us actually see the rotation of the down arrow*/
.dropdown-btn i{
    transition: 200ms ease;
}

/* class to rotate icons, this works for all the icons at the end/rightmost*/
.rotate i:last-child{ 
    rotate: 180deg;
}

/*2em indent for the sub menu*/
#sidebar .sub-menu a{
    padding-left: 2em;
}

#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    i{
        transition: rotate 150ms ease;
        
    }
}


#toggle-btn:hover{
    background-color: var(--hover-clr);
}
